body{
    margin: 0px;
    padding: 0px;
    font-family: Raleway,'Trebuchet MS', Helvetica, sans-serif;
}

.material-icons{
    padding-right: 5px;
}

.contact_bar{
    height: 40px;
    display: flex;
    background-color: #3F69B3;
    color: white;
    padding-left: 50px; padding-right: 50px;
    align-items: center;
    justify-content: flex-end;
}

    .contact_item{
        border-left: white thin solid;
        height: 75%;
        display: flex;
        align-items: center;
        padding: 5px;
        font-size: 85%;
    }
    
    .border_right{
        border-right: white thin solid;

    }

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px; padding-right: 50px;
    padding-top: 15px; padding-bottom: 15px;
}

    .logo{
        width: 150px;
    }

    .nav_links a{
        color: black;
        text-decoration: none;
        padding-left: 30px;
    }
    
    .nav_links a:hover{
        text-decoration: underline;
    }
    
.hero_image{
    background-image: url('img/doctor.jpg');
    background-size: cover;
    min-height: 500px;
    display: flex;
    padding-left: 15%;
    box-shadow: 0px 0px 15px #939393 inset;
}

    .hero_image .header_container{
       margin-top: 100px;
       width: 400px;
    }
    
    .hero_image .header_container h1{
       color:#333333;
       font-size: 300%;
    }
    
    button{
       color:white;
       font-size: 110%;
       background-color: #3F69B3;
       border:none;
       border-radius: 5px;
       padding: 10px;
    }
    
.overview{
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content:center;
}    

    .overview_content{
        width: 75%;
        text-align: center;
        border-top: thick #3F69B3 solid;
        border-bottom: thick #3F69B3 solid;
        padding-bottom: 25px;
    }

.resources{
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    box-shadow: 0px 0px 15px #bdbdbd;
}

    .resource_container{
        text-align: center;
        width: 30%;
    }
    
    .resource_container .material-icons{
        font-size: 50px;
        color: #3F69B3;
    }
    
.contact{
    padding: 50px;
    padding-left:15%; 
    display: flex;
    justify-content:space-between;
    align-items: center;
}
    
    .map_container{
        width: 40vw;
        height: 35vw;
    }
    
    .contact_details{
        width: 30vw;
    }
    
    .contact_form_container{
        padding-left: 15%; padding-right: 15%;
        padding-bottom: 50px;
    }
    
    form h3{
        color:gray;
        font-size: 90%;
    }
    
    form input{
        width: 100%;
        height: 30px;
        background-color: #f6f6f6;
        border:thin #fafafa solid;
        margin-bottom: 25px;
    }
    
    form textarea{
        width: 100%;
        background-color: #f6f6f6;
        border:thin #fafafa solid;
        margin-bottom: 25px;
    }
    
    form input.submit_button{
       color:white;
       width: 125px;
       height:auto;
       font-size: 110%;
       background-color: #3F69B3;
       border:none;
       border-radius: 5px;
       padding: 10px;
    }
    
.footer{
    display: flex;
    background-color: #3F69B3;
    color: white;
    padding-left: 50px; padding-right: 50px;
    padding-top: 15px; padding-bottom: 15px;
    align-items: center;
    justify-content: space-between;
}

    .copyright{
        font-size:75%;
        color:#b2c3e0;
    }
    
    .footer_links a{
        color: white;
        text-decoration:none;
        font-size: 75%;
        padding-left:25px;
    }
    
    .footer_links a:hover{
        text-decoration:underline;
    }
    
    
/********** Dropdown Button **************/
.dropbtn {
    color: white;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

